[Unit]
Description=MERG canpi daemon
Before=multi-user.target
Before=graphical.target
After=remote-fs.target
After=network-online.target
Wants=network-online.target
#Upholds=canpiconfig.service

[Service]
Type=forking
Restart=no
TimeoutSec=5min
TimeoutStopSec=1
IgnoreSIGPIPE=no
KillMode=process
GuessMainPID=no
SuccessExitStatus=SIGKILL
Environment="CPSRV_HOME=/usr/local/etc/canpi" "CANPI_INI_FILE=/usr/local/etc/canpi/canpi.cfg"
ExecStart=/usr/local/bin/canpidctl start
ExecReload=/usr/local/bin/canpidctl restart
ExecStop=/usr/local/bin/canpidctl stop
PIDFile=/run/canpid.pid

[Install]
WantedBy=multi-user.target
